/*for large and medium devices*/
@media screen and (min-width: 30.5em) {
	body {
		background: url("IMG_7242.jpg") no-repeat fixed center center / cover  rgba(0, 0, 0, 0);
		margin: 0px;
	}
}

.container {
	background: rgba(108, 180, 107, 0.92);
	border-radius: 8px;
	padding-bottom: 3px;
}
/*for large and medium devices*/
@media screen and (min-width: 30.5em) {
	.container {
		background: rgba(108, 180, 107, 0.92);
		border-radius: 0px 8px 8px 0px;
	  width: 440px;
	  margin-top: 40px;
	  padding: 5px 0px 5px 10px;
	  opacity: 0.9;
		}
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    line-height: 30px;
		padding-top: 20px;
		padding-left: 3px;
}
/*for large and medium devices*/
@media screen and (min-width: 30.5em) {
	h1 {
	    font-family: 'Oswald', sans-serif;
	    font-size: 55px;
	    line-height: 40px;
	}
}

h3 {
	background: none repeat scroll 0 0 #fb4d1c;
    border-radius: 0px 0px 0px 5px;
    padding: 10px;
    color: white;
    font-family: 'Merriweather';
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 21px;
    font-weight: 700;
}

p {
	font-family: 'Merriweather', serif;
	font-size: 19px;
	line-height: 24px;
	font-weight: 400;
	padding: 6px;
}

a:link {
	color: #ed622b;
	text-decoration: none;
}

a:visited {
	color: #fb4d1c;
	text-decoration: none;
}


.social {
	font-size: 15px;
}

.annie {
	display: none;
}
/*for large and medium devices*/
@media screen and (min-width: 30.5em) {
	.annie {
		display: block;
		line-height: 2px;
		bottom: 0;
		font-size: 11px;
		font-weight: 400;
	}
}

.annie a {
	color: black;
}
